
.item-space {
    margin-left: 9px;
    margin-right: 9px;
    width: 4%;
    min-width: 7.0em;
}
.headerTabs
{
    text-align: right;
}
.filters
{
    background: yellow;
    margin-top: 40px;
    padding: 5px;
    height: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.filterRow{
    width: 100%;
    float: left;
}
.filterBox{
    float: left;
    margin-right: 10px;
}