
.item-space {
    margin-left: 9px;
    margin-right: 9px;
    width: 4%;
    min-width: 7.0em;
}
.headerTabs
{
    text-align: right;
}
.filters
{
    background: lightgrey;
    margin-top: 40px;
    padding: 5px;
}