.detailsBox
{
    background-color: #e0e0e0;
    width: 100%;
    min-height: 400px;
}

.img-box
{
    width: 30%;
    float: left;
}
.description-box
{
    width: 70%;
    float: right;
}

.review-btn
{
    width: 100%;
}
.btnPrimary
{
    background: cornflowerblue;
    width: 100%;
    color: white;
}
.img-box
{
    max-width: 350px;
    max-height: 400px;
}
.greylabel{
    background-color: darkgrey;
    float: left;
}
.whitelabel{
    background-color: white;
    float: left;
}
.detailsRow{
    float:left;
    width: 100%;
}