.reviewsBox {
  padding: 20px;
}
.reviewsTable {
  width: 100%;
}
.excerpt {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.author {
  width: 10%;
}
.more {
  width: 10%;
}
.reviewBtn {
  width: 100%;
}
.btnPrimary {
  background: cornflowerblue;
  width: 100%;
  color: white;
}